body{
    background-color: aquamarine;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:blue
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: rgb(195, 210, 87);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: rgb(20, 208, 145);
}