body {
    background-color: #1e1e2f;
    color: white;
    font-family: Arial, sans-serif;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #00e5ff;
}

/* Paragraf 1 */
.paragraf1 {
    font-size: 20px;              /* satuan px */
    font-weight: bold;
    font-style: normal;
    font-family: "Times New Roman", serif;
}

/* Paragraf 2 */
.paragraf2 {
    font-size: 1.5em;             /* satuan em */
    font-weight: 600;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

/* Paragraf 3 */
.paragraf3 {
    font-size: 120%;              /* satuan persen */
    font-weight: lighter;
    font-style: normal;
    font-family: "Courier New", monospace;
}

/* Paragraf 4 */
.paragraf4 {
    font-size: 1.2rem;            /* satuan rem */
    font-weight: 500;
    font-style: oblique;
    font-family: "Brush Script MT", cursive;
}

/* Paragraf 5 */
.paragraf5 {
    font-size: large;             /* keyword size */
    font-weight: 800;
    font-style: normal;
    font-family: fantasy;
}